/* MOBILE FIRST APPROACH */

/*
.row
Splits up the page horizontally. You'll need a few of these to break up the content,
and you can use them in your main wrapper, or within other divs.

.col
divides the section into columns, based on 12 columns for full width of the screen.

.group
solves floating problems, by forcing the section to self clear its children (aka the
clearfix hack). This is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ and IE 6+.

.debug
Want to just visualize something and see how your grid looks? Add this class to a
parent container to highlight where your rows and grids are.
*/

.row {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    display: table;
}

.debug .row {
    border: 1px solid #C12127;
    padding: 2px;
    margin: 2px 0;
}

.padding {
    padding: 10px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

.col {
    position: relative;
    display: block;
    float: left;
}

.debug .col {
    border: 1px solid #3498DB;
}

.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 {
    width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.center-content {
    margin: 0 auto;
    text-align: center;
    clear: both;
    float: none;
}

.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
    display: block;
}

.show-large-only-ib,
.show-large-only-b {
    display: none;
}

.show-small-only-b {
    display: block;
}

.show-small-only-ib {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .span-12 {
        width: calc(12/12 * 100%);
    }
    .span-11 {
        width: calc(11/12 * 100%);
    }
    .span-10 {
        width: calc(10/12 * 100%);
    }
    .span-9 {
        width: calc(9/12 * 100%);
    }
    .span-8 {
        width: calc(8/12 * 100%);
    }
    .span-7 {
        width: calc(7/12 * 100%);
    }
    .span-6 {
        width: calc(6/12 * 100%);
    }
    .span-5 {
        width: calc(5/12 * 100%);
    }
    .span-4 {
        width: calc(4/12 * 100%);
    }
    .span-3 {
        width: calc(3/12 * 100%);
    }
    .span-2 {
        width: calc(2/12 * 100%);
    }
    .span-1 {
        width: calc(1/12 * 100%);
    }

    .offset-1 {
        margin-left: calc(1/12 * 100%);
    }

    .offset-2 {
        margin-left: calc(2/12 * 100%);
    }

    .offset-3 {
        margin-left: 25%;
    }

    .offset-4 {
        margin-left: calc(4/12 * 100%);
    }

    .offset-5 {
        margin-left: calc(5/12 * 100%);
    }

    .offset-6 {
        margin-left: 50%;
    }

    .offset-7 {
        margin-left: calc(7/12 * 100%);
    }

    .offset-8 {
        margin-left: calc(8/12 * 100%);
    }

    .offset-9 {
        margin-left: 75%;
    }

    .offset-10 {
        margin-left: calc(10/12 * 100%);
    }

    .offset-11 {
        margin-left: calc(11/12 * 100%);
    }

    .show-small-only-b,
    .show-small-only-ib {
        display: none;
    }
    .show-large-only-b {
        display: block;
    }
    .show-large-only-ib {
        display: inline-block;
    }
}
