@keyframes modal-fade-in {
  0% {
    opacity: 0;
    margin-top: 500px; }
  100% {
    opacity: 1;
    margin-top: 2rem; } }

@keyframes modal-fade-out {
  0% {
    opacity: 1;
    margin-top: 2rem; }
  100% {
    opacity: 0;
    margin-top: 500px; } }

@keyframes menu-slide-down {
  0% {
    margin-top: -500px; }
  100% {
    margin-top: 0; } }

@keyframes menu-slide-up {
  0% {
    margin-top: 0px; }
  100% {
    margin-top: -500px; } }

@keyframes shake {
  2% {
    transform: translate(1px, 0) rotate(0); }
  4% {
    transform: translate(4px, 0) rotate(0); }
  6% {
    transform: translate(7px, 0) rotate(0); }
  8% {
    transform: translate(-1px, 0) rotate(0); }
  10% {
    transform: translate(-1px, 0) rotate(0); }
  12% {
    transform: translate(1px, 0) rotate(0); }
  14% {
    transform: translate(-3px, 0) rotate(0); }
  16% {
    transform: translate(-8px, 0) rotate(0); }
  18% {
    transform: translate(-9px, 0) rotate(0); }
  20% {
    transform: translate(-3px, 0) rotate(0); }
  22% {
    transform: translate(-9px, 0) rotate(0); }
  24% {
    transform: translate(1px, 0) rotate(0); }
  26% {
    transform: translate(10px, 0) rotate(0); }
  28% {
    transform: translate(9px, 0) rotate(0); }
  30% {
    transform: translate(-2px, 0) rotate(0); }
  32% {
    transform: translate(9px, 0) rotate(0); }
  34% {
    transform: translate(2px, 0) rotate(0); }
  36% {
    transform: translate(-5px, 0) rotate(0); }
  38% {
    transform: translate(3px, 0) rotate(0); }
  40% {
    transform: translate(0px, 0) rotate(0); }
  42% {
    transform: translate(4px, 0) rotate(0); }
  44% {
    transform: translate(-7px, 0) rotate(0); }
  46% {
    transform: translate(-4px, 0) rotate(0); }
  48% {
    transform: translate(9px, 0) rotate(0); }
  50% {
    transform: translate(-6px, 0) rotate(0); }
  52% {
    transform: translate(-3px, 0) rotate(0); }
  54% {
    transform: translate(3px, 0) rotate(0); }
  56% {
    transform: translate(6px, 0) rotate(0); }
  58% {
    transform: translate(-5px, 0) rotate(0); }
  60% {
    transform: translate(-6px, 0) rotate(0); }
  62% {
    transform: translate(8px, 0) rotate(0); }
  64% {
    transform: translate(8px, 0) rotate(0); }
  66% {
    transform: translate(-7px, 0) rotate(0); }
  68% {
    transform: translate(8px, 0) rotate(0); }
  70% {
    transform: translate(6px, 0) rotate(0); }
  72% {
    transform: translate(5px, 0) rotate(0); }
  74% {
    transform: translate(6px, 0) rotate(0); }
  76% {
    transform: translate(7px, 0) rotate(0); }
  78% {
    transform: translate(-2px, 0) rotate(0); }
  80% {
    transform: translate(1px, 0) rotate(0); }
  82% {
    transform: translate(0px, 0) rotate(0); }
  84% {
    transform: translate(-6px, 0) rotate(0); }
  86% {
    transform: translate(0px, 0) rotate(0); }
  88% {
    transform: translate(1px, 0) rotate(0); }
  90% {
    transform: translate(-1px, 0) rotate(0); }
  92% {
    transform: translate(1px, 0) rotate(0); }
  94% {
    transform: translate(4px, 0) rotate(0); }
  96% {
    transform: translate(1px, 0) rotate(0); }
  98% {
    transform: translate(3px, 0) rotate(0); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

html {
  box-sizing: border-box;
  font-family: 'Muli', 'Helvetica Neue', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #eee;
  color: #333; }

.container {
  margin: 0 auto;
  padding: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: #22A7F0;
  font-family: 'Noto Sans', sans-serif; }

p {
  transition: 0.2s; }

a {
  text-decoration: none;
  color: #22A7F0; }
  a:hover {
    color: #6BB9F0; }

nav {
  background-color: #22A7F0;
  color: white;
  padding: 15px;
  height: 50px; }
  nav i {
    font-size: 30px;
    position: relative;
    top: -8px; }

input,
textarea,
select {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none; }

button {
  outline: 0;
  border: 0;
  padding: 10px 15px;
  color: white;
  background-color: #22A7F0;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-bottom: 5px; }
  button:hover {
    background-color: #6BB9F0; }

.error-msg {
  color: tomato;
  min-height: 18px; }

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: white;
  border-radius: 2px; }
  .card .card-title {
    padding: 15px 15px 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #555; }
  .card .card-title.large {
    font-size: 22px; }
  .card .card-body {
    padding: 15px; }

modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100; }
  modal .modal-bg {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  modal .modal-box {
    width: calc(100% - 2rem);
    max-width: auto;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 14px; }
    modal .modal-box .modal-title {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 1rem;
      padding: 0;
      width: calc(100% - 5rem);
      display: inline-block;
      color: #555; }
    modal .modal-box .modal-close {
      float: right;
      cursor: pointer;
      font-size: 18px;
      color: #777; }
  modal .modal-box.fade-in {
    animation: 0.1s modal-fade-in; }
  modal .modal-box.fade-out {
    animation: 0.1s modal-fade-out; }
  modal .modal-box.error {
    animation: 0.25s shake; }
  modal .modal-box.error-flash {
    background-color: #EF4836;
    color: white;
    transition: 0.1s ease-in-out; }
  modal .modal-box.sm {
    max-width: 400px; }
  modal .modal-box.md {
    max-width: 600px; }
  modal .modal-box.lg {
    max-width: 800px; }
  modal button {
    float: right; }

.hide-mobile {
  display: none; }

.hide-desktop {
  display: initial; }

@media only screen and (min-width: 768px) {
  .hide-mobile {
    display: initial; }
  .hide-desktop {
    display: none; } }
